<h1>Vehicle: <%= @product.name %></h1>
<br>
<h2>Review</h2>
<h3>Reviewed by: <%= @review.author %></h3>
<% if @review.rating == 1 %>
<h3><%= @review.rating %> star</h3>
<% else %>
<h3><%= @review.rating %> stars</h3>
<% end %>
<p><%= @review.content_body %></p>

<% if current_user.admin == true %>
<p><%= link_to "Edit review", edit_product_review_path(@product, @review) %></p>
<p><%= link_to "Delete review", product_review_path(@product, @review),
  :data => {:confirm => "Are you sure?",
  :method => "delete"} %></p>
  <% end %>

  <p><%= link_to "Return to vehicle", product_path(@product) %></p>
